{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}
{% block body %}
<div class="container">
    <h1> Matches </h1>
    <h3> Total of Rounds played: {{ response.totalRounds }} </h3>
    <a class="btn btn-secondary btn-md" href="/championship" 
    role="button">
    Back to Championship Result
    </a>
    <table class="table text-center bordered">
        <thead>
            <tr>
                <th scope="col">Group</th>
                <th scope="col">Team A</th>
                <th scope="col">Team A Score</th>
                <th scope="col">Team B Score</th>
                <th scope="col">Team B</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for matchId, match in response.matches %}
            <tr>
                <td>{{ match.group }} </td>
                <td class="{{ match.teamATdCssClass }}">{{ match.teamA }}</td>
                <td class="{{ match.teamATdCssClass }}">{{ match.teamAScore }}</td>
                <td class="{{ match.teamBTdCssClass }}">{{ match.teamBScore }}</td>
                <td class="{{ match.teamBTdCssClass }}">{{ match.teamB }}</td>
                <td>
                    <a class="btn btn-outline-info btn-sm" href="details/{{ matchId }}" 
                    role="button">
                    See Match Rounds
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
