{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}
{% block body %}
<div class="container">
{% if response.rounds is defined %}
    <h1> Rounds from "{{ response.teamA }} VS {{ response.teamB }}"</h1>
    <h2> Winner: {{ response.winner }}</h2>
    <a class="btn btn-secondary btn-md" href="/championship/details" 
    role="button">
    Back to Championship
    </a>
    <br/>
    <table class="table text-center bordered">
        <thead>
            <tr>
                <th scope="col">Round</th>
                <th scope="col">Team A with {{ response.teamAScore }} rounds won</th>
                <th scope="col">Team B with {{ response.teamBScore }} rounds won</th>
            </tr>
        </thead>
        <tbody>
            {% for roundId, round in response.rounds %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="{{ round.teamATdCssClass }}">{{ round.teamA }}</td>
                <td class="{{ round.teamBTdCssClass }}">{{ round.teamB }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    OMG, you've found a Bug =(
{% endif %}
</div>
{% endblock %}
