{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col text-center">
                <a class="btn btn-outline-success btn-lg" href="championship/new" role="button">Start Championship</a>
                <div class="loader"></div>
            </div>
        </div>
    </div>
{% endblock %}
