{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}
{% block body %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Winner</th>
                <th scope="col">Matches Won</th>
                <th scope="col">Rounds Won</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ response.winner.name }}</td>
                <td>{{ response.winner.matches_victories}}</td>
                <td>{{ response.winner.rounds_victories}}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-success btn-lg" href="/championship/details" role="button">See Details</a>
    <a class="btn btn-outline-warning btn-lg" href="/championship/new" 
    role="button">
    Roll another Championship
    </a>
</div>
{% endblock %}
